
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    overflow-x: hidden;
    font-family: 'Public Sans',sans-serif;
    font-size: 18px;
}

.btn-style{
    background: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    border-radius: 30px;
    padding: 10px 25px;
    border: none;
}

.btn-style:hover{
    opacity: 0.7;
    color: hsl(0, 0%, 100%);
}

.dropdown-toggle{
    display: none;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

/* Navbar styling */

header{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 9rem;
    align-items: center;
    position: absolute;
    z-index: 10;
    width: 100%;
}
 

.navigation li{
    display: inline-block;
}

.navigation li a{
    position: relative;
    display: inline-block;
    margin: 0 1rem;
    color: hsl(233, 8%, 62%);
    text-decoration: none;
}

.navigation li a::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -20px;
    width: 0;
    height: 4px;
    background: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    transition: all 0.5s;
}

.navigation li a:hover::after{
    width: 100%;
}

.dropdown-toggle{
    display: none;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

/* About styling */

.home .about{
    background-color: hsl(0, 0%, 98%); 
    height: 122vh;
    display: flex;

}

.home .about .content{
    height: 100vh;
    width: 40%;
    margin-top: 13rem;
    margin-left: 9rem;

}

.about h2{
    font-weight: 400;
    font-size: 2.5rem;
}

.about p{
    font-size: 15px;
    color: hsl(233, 8%, 62%);
    padding: 0.7rem 0;
}


.home .about .col-image{
    width: 50%;
    height: auto;
    position: relative;
    right: 2rem;
}

.home .about .image{
    position: relative;
    z-index: 2;
    width: auto;
    height: auto;
    top: -1.4rem;
    right: -3.5rem;
}

.bg-big{
    position: absolute;
    z-index: 1;
    top: -10.4rem;
    left: -8rem;
}

.bg-small{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

/* Why choose section styling */

.home .detail {
    padding: 6rem 7rem;
    background-color: hsl(220, 16%, 96%);;
}

.home .detail h1{
    font-weight: 400;
}

.home .detail p{
    font-size: 15px;
    color: hsl(233, 8%, 62%);
    margin-top: 1rem;
}

.detail .container{
    margin-top: 4rem;
}

.detail .container  h4{
    margin: 2rem 0;
    font-weight: 300;
    font-size: 1.5rem;
}

/* Article section styling */

.articles{
    background-color: hsl(0, 0%, 98%);
    padding: 5rem 7rem;
}

.articles .card{
     border: none;
     border-radius: 0.3rem;
}

.articles h3{
    margin-bottom: 2.5rem;
}

.articles h5{
    font-size: 1.2rem;
    margin-top: -0.5rem;
    cursor: pointer;
}

.articles h5:hover{
    color: hsl(175, 80%, 43%);
}

.articles .card-text{
    font-size: 15px;
    color: hsl(233, 8%, 62%);
    line-height: 1.3;
    
}

.articles img{
    height: 15vw;
    object-fit: cover;
}

.articles .author{
    font-size: 1rem;
    color: hsl(233, 8%, 62%);
}

/* Footer section styling */

footer{
    background-color: hsl(233, 26%, 24%);
    display: flex;
    justify-content: space-between;
    padding: 10px 150px;
    color: #fff;
}

.ft-one{
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
}

.contact{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.contact .logo-img{
    color: #fff;
    padding-bottom: 20px;
}

.socials-link img{
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.socials-link img:hover{
    background-color: hsl(175, 80%, 43%);
}

.ft-nav-1 , .ft-nav-2{
    margin: 15px 0;
}

.ft-nav-1 p, .ft-nav-2 p{
    color:  hsl(0, 0%, 98%);
    font-size: 13px;
    cursor: pointer;
}

.ft-one p:hover{
    color: hsl(175, 80%, 43%);
}

.ft-two{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin: 25px 0;
}

.ft-two p{
    color: hsl(233, 8%, 62%);
    font-size: 12px;
    margin-top: 1rem;
}

.attribution{
    font-size: 11px;
    text-align: center;
}

.attribution p{
    color: blueviolet;
}

/* Media queries */

@media screen and (max-width: 765px){
    header{
        padding: 30px 40px;
        
    }

    .navigation{
        position:absolute;
        top: 100px;display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: hsl(0, 0%, 100%);
        width: 80%;
        padding: 40px;
        border-radius: 10px;
        text-align: center;
        opacity: 0;
        transition: all .5s,ease-in-out;
    }

     header .navigation li a{
        margin: 20px 0;
        color: hsl(233, 26%, 24%);
        font-weight: 900;
        font-size: 20px;
    } 

     .navigation li a::after{
        bottom: -20px;
    }   

    header .btn-style{
        display: none;
    }

    .active{
        opacity: 1;
    }

    .dropdown-toggle{
        display: block;
    } 

    .home .about{
        height: 140vh;
    }
     .home .about .content{
    
        width: 100%;
        margin-top: 32rem;
        margin-left: 5rem;

     }

     .about h2{
        font-size: 3rem;
     }

     .about p{
        font-size: 16px;
        
     }

     .about .btn-style{
        margin-left: 6rem;
     }

    .wrapper{
        display: flex;
        flex-direction: column;
    }

    .wrapper div:first-child{
        order: 1;
    }

    .home .about .image{
        width: 135%;
        position: absolute;
        left: 50%;
        top: 50%; 
        transform: translate(-30%, -13%);
    }

    .bg-small{
        width: 150%;
        position: absolute;
        left: 50%;
        top: 50%; 
        transform: translate(-33%, 2%);   
    }

    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
    }

    .ft-one{
        flex-direction: column;
    }

    .ft-nav-1, .ft-nav-2{
        text-align: center;
    }

    .ft-nav-1 p, .ft-nav-2 p{
        margin-top: 20px 0;
    }

    .ft-nav-2{
        margin-top: -20px;
    }

    .ft-two{
        justify-content: center;
        align-items: center;
    }
    
}